/*  Desktop Animation */
.desktop__nav {

  li {
    transition: all 400ms ease;

    /*  Navigation Menu Items Transition Delay */
    &:nth-of-type(1){
      transition-delay: 0ms;
    }

    &:nth-of-type(2) {
      transition-delay: 30ms;
    }

    &:nth-of-type(3) {
      transition-delay: 60ms;
    }

    &:nth-of-type(4) {
      transition-delay: 90ms;
    }

    &:nth-of-type(5) {
      transition-delay: 120ms;
    }

    &:nth-of-type(6) {
      transition-delay: 150ms;
    }

    &:nth-of-type(7) {
      transition-delay: 180ms;
    }

    &:nth-of-type(8) {
      transition-delay: 210ms;
    }

    &:nth-of-type(9) {
      transition-delay: 240ms;
    }

    &:nth-of-type(10) {
      transition-delay: 270ms;
    }
  }
}

.desktop__nav.hide li {
  opacity: 0;
  pointer-events: none;

  transform: scale(0.8);

  /*  Navigation Menu Items Transition Delay */
  &:nth-of-type(10){
    transition-delay: 0ms;
  }

  &:nth-of-type(9){
    transition-delay: 30ms;
  }

  &:nth-of-type(8){
    transition-delay: 60ms;
  }

  &:nth-of-type(7){
    transition-delay: 90ms;
  }

  &:nth-of-type(6){
    transition-delay: 120ms;
  }

  &:nth-of-type(5){
    transition-delay: 150ms;
  }

  &:nth-of-type(4){
    transition-delay: 180ms;
  }

  &:nth-of-type(3){
    transition-delay: 210ms;
  }

  &:nth-of-type(2){
    transition-delay: 240ms;
  }

  &:nth-of-type(1){
    transition-delay: 270ms;
  }

}

/*  Overlay Animation */
.overlay {
  transition: all 400ms ease;
}


/*  Search Container Animation */
.search__container form,
.search__container .nav__link--search {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms ease;
  transition-delay: 300ms;
}

.search__container.hide form,
.search__container.hide .nav__link--search {
  opacity: 0;
  transform: translateX(50px);
}

.search__container {

  .nav__link--search {
    opacity: 0.6;
  }

  &.hide .nav__link--close {
    opacity: 0;
  }

  .nav__link--close {
    opacity: 0.5;
    transition: all 400ms ease;
    transition-delay: 400ms;
  }

  .nav__quick--links {

    h2 {
      opacity: 1;
      transform: translateX(0);
      transition: all 400ms ease;
      transition-delay: 100ms;
    }

    ul {

      li {
        opacity: 1;
        transform: translateX(0);
        transition: all 400ms ease;

        &:nth-of-type(1){
          transition-delay: 120ms;
        }

        &:nth-of-type(2){
          transition-delay: 140ms;
        }

        &:nth-of-type(3){
          transition-delay: 160ms;
        }

        &:nth-of-type(4){
          transition-delay: 180ms;
        }

        &:nth-of-type(5){
          transition-delay: 200ms;
        }
      }
    }
  }

  &.hide .nav__quick--links {

    h2 {
      opacity: 0;
      transform: translateX(50px);
    }

    ul {

      li {
        transform: translateX(60px);
      }
    }
  }
} 

